
header{
    height: 10vh;
    background-color: deeppink;
}
table{
    width: 80%;
}
.float-button {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: deeppink;
}
.float-button:hover{
    background-color: rgb(223, 107, 169);
}
.div-alert{
    width: 100%;
    padding: 4px;
}
td{
    padding: 0px 8px !important;
}
.submit {
    background-color: deeppink;
    color: white;
    width: 100%;
}
.submit:hover {
    background-color: rgb(245, 141, 197);
}